@model MvcMovie.Models.Movie

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Movie : @Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Genre : @Model.Genre.Name</h6>
        <p class="card-text">
            Description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus veniam rem asperiores,
            earum quidem odit laboriosam dolor possimus exercitationem voluptate officia provident magnam, doloribus,
            doloremque rerum quia distinctio officiis et?
            Voluptates, recusandae? Iste dignissimos cupiditate saepe aperiam sint dolorem nesciunt velit facilis
            laudantium provident, temporibus ipsam iusto vero id sapiente numquam culpa quaerat sit nisi, doloribus
            rerum minus! Pariatur, repudiandae!
            Porro nesciunt ex minima doloremque modi enim sunt odit, quasi dolore id ipsum earum recusandae natus ad
            laboriosam, dolorum deleniti sed repudiandae, voluptatibus quos quia placeat? Expedita saepe laudantium
            labore.
        </p>
    </div>
</div>

<a asp-action="index">go back</a>